/DoomSRP/.vs
/DoomSRP/Library
/DoomSRP/Logs
/DoomSRP/obj
/DoomSRP/output
/DoomSRP/Temp
/DoomSRP/Assembly-CSharp.csproj
/DoomSRP/Assembly-CSharp-Editor.csproj
/DoomSRP/DoomSRP.sln
/DoomSRP/Unity.RenderPipelines.Core.ShaderLibrary.csproj
/DoomSRP/DoomSRP.Editor.csproj
/DoomSRP/open_android_custumDir.bat
/DoomSRP/Unity.Analytics.DataPrivacy.csproj
/DoomSRP/Unity.CollabProxy.Editor.csproj
/DoomSRP/Unity.PackageManagerUI.Editor.csproj
/DoomSRP/Unity.TextMeshPro.csproj
/DoomSRP/Unity.TextMeshPro.Editor.csproj
/DoomSRP/DoomSRP.csproj
/DoomSRP/vs
